<div class="login-box">
  <div class="aside">
    <app-defaul-login-layout ></app-defaul-login-layout>
  </div>
  <div class="form">
    <div class="total">
      <div class="login">
          <div class="logo">
              <img src="../../../assets/di2winLogo.png" width="250px" />
              <h2>Seja bem-vindo!</h2>
          </div>
          <form>
              <input type="text" id="nome" name="nome" placeholder="Nome" required>
              <input type="email" id="email" name="email" placeholder="Email" required>
              <input type="password" id="senha" name="senha" placeholder="Senha" required>
              <input type="password" id="confirmar_senha" name="confirmar_senha" placeholder="Confirmar senha" required>
              <div class="toggle-container">
                
                <label class="slider">
                  <input type="checkbox" name="acceptTerms">
                  <span></span>
                </label>
                <span class="span-terms">
                  Ao clicar, concordo com os
                  <a href="https://www.di2win.com/termos-de-uso-do-portal-extraidados" class="link-terms">
                    Termos de uso
                  </a>
                </span>
              </div>
              
              <div class="botoes">
                  <a class="voltar" routerLink="/login">Voltar</a>
                  <button class="botao" type="submit">Enviar</button>
              </div>
          </form>
          <div>
              <p>Já tem uma conta? <a class="cliqueCadastrar" routerLink="/login"> Acesse agora</a>
              </p>
          </div>
      </div>
      <div class="botton">
          <span class="copyright-text">Copyright © 2024 - Tecnologia
              <a href="#" class="link">Di2win®</a> . Todos os direitos reservados.</span>
      </div>
  </div>
  </div>
</div>
