<div class="login-box">
  <div class="aside">
    <app-defaul-login-layout></app-defaul-login-layout>
  </div>
  <div class="form">
    <div class="total">
      <div class="login">
        <div class="logo">
          <img src="../../../assets/di2winLogo.png" width="250px" />
          <h2>Bem vindo de volta</h2>
        </div>
        <form>
          <input type="email" id="email" name="email" placeholder="Email" required>
          <input type="password" id="senha" name="senha" placeholder="Senha" required>
          <a href="/esqueceu-senha">Esqueceu a senha?</a>
          <button class="botao" type="submit" routerLink="/relatorio">Entrar</button>
        </form>
        <div>
          <p>
            Não tem conta?
            <button class="clique-cadastrar" routerLink="/cadastrar" > Clique aqui para se cadastrar. 
            </button>
          </p>
        </div>
      </div>
      <div class=" botton">
              <span class="copyright-text">Copyright © 2024 - Tecnologia
                <a href="#" class="link">Di2win®</a> . Todos os direitos reservados.</span>
        </div>
      </div>
    </div>
  </div>