<div class="login-box">
  <div class="aside">
    <app-defaul-login-layout ></app-defaul-login-layout>
  </div>
  <div class="form">
    <div class="total">
      <div class="login">
        <div class="logo">
          <img src="../../../assets/di2winLogo.png" width="300px" />
          <h2>Bem vindo de volta</h2>
          <h3>Recuperação</h3>
        </div>
        <form>
          <input type="email" id="email" name="email" placeholder="Email" required>
          <div class="botoes">
            <a class="voltar" routerLink="/login">Voltar</a>
            <button class="botao" type="submit">Cadastrar</button>
        </div>
        </form>
        <div>
          <p>Já possui uma conta?<a class="cliqueCadastrar" routerLink="/login">Clique aqui</a>
          </p>
        </div>
      </div>
      <div class="botton">
        <span class="copyright-text">Copyright © 2024 - Tecnologia
          <a href="#" class="link">Di2win®</a> . Todos os direitos reservados.</span>
      </div>
      </div>
  </div>
</div>
