<div class="container">
  <div class="linha">
    <div class="cards">
      <div class="card">
        <h4>Total global de acertos</h4>
        <h1>94%</h1>
      </div>
      <div class="linha">
        <div class="card">
          <h4>Total de documentos processados</h4>
          <h1>93</h1>
        </div>
      </div>
    </div>
    <div class="l1">
      <h3>Documentos mais editados</h3>
      <app-pie-chart></app-pie-chart>
    </div>
    <div class="l1">
      <h3>Documentos com mais acertos</h3>
      <app-horizontal-bar-chart></app-horizontal-bar-chart>
    </div>
    
  </div>

  <div class="linha">
    <div class="l1">
      <h3>Documentos mais processados</h3>
      <app-bubble-chart></app-bubble-chart>
    </div>
    <div class="l1">
      <h3>Quantidade de Documentos Nulos</h3>
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="cards">
      <div class="card">
        <h4>Total de documentos editados</h4>
        <h1>36</h1>
      </div>
      <div class="linha">
        <div class="card">
          <h4>Taxa de acerto acima de 90%</h4>
          <h1>87%</h1>
        </div>
      </div>
  </div>


</div>